@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200;300;400;500;600;700&display=swap');

.header {
   font-family: 'Oswald', sans-serif;
   background: linear-gradient(to bottom, #0074D9, #FFDC00);
   height: 140px;
}

.container {
   display: flex;
   justify-content: space-between;
   max-width: 1220px;
   margin-left: auto;
   margin-right: auto;
   padding: 0 10px;
}

.header__logo {
   display: flex;
   gap: 10px;
}

.header__logo_img {
   max-width: 60px;
}

.header__exchange {
   display: flex;
   gap: 20px;
   align-items: center;
}