.home {
   background: -webkit-linear-gradient(180deg, #ff0066, #000000);
   /* Chrome 10-25, Safari 5.1-6 */
   background: linear-gradient(180deg, #ff0066, #000000);
   /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
   background-image: url('./image/sky.jpg');
   background-size: cover;
   background-repeat: no-repeat;
   height: calc(100vh - 140px);
}

.home__calc_selet {
   width: 80px;
   color: #000000;
   background-image: url('./image/arrow.svg');
   background-size: 20px;
   appearance: none;
   text-align: center;
   background-position: right center;
   background-repeat: no-repeat;
   padding-right: 20px;
   cursor: pointer;
   font-family: 'Oswald', sans-serif;
   border-radius: 5px;
   height: 40px;
   margin: 20px 15px 15px 0px;
   margin-bottom: 15px;
   margin-right: 15px;
   padding: 0px auto;

}

.home__calc_sum {
   color: wheat;
}

.home__calc_inp {
   width: 80px;
   height: 30px;
   border-radius: 5px;
}